/* Service hero card start */
.service-deskbg{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}

.service-desktop h3{
    color: #2F3E56 !important;
  
  }
.service-desktop p{
    color: #666666 !important;
  }
.mob_servicetext h3{
    color: #2F3E56;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 32px;
  }
.mob_servicetext p{
    color: #666666;
    font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
     line-height: 24px;
    }
    .serviceherobtn button{
        padding: 10px !important;

    }




/* Recruiment card start */
    .recruirment-card h3{
        
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;

        line-height: 100%;
        letter-spacing: 0%;
      
        color: #1E1E1E;

    }
 .recruirment-card p{
        
     font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
         line-height: 22px;
          text-align: center;
         color: #666666;

    }

/* Recruiment card finish */



.start_journey{
    box-shadow: 0px 2px 0px 0px #FFFFFF;

}
.start_journey-card h2{
    font-size: 42px;
}

.start_journey-card p{
    font-size: 16px;
}
.recruirment-card{
    border: 1px solid #979797 !important ;
}

.recruirment-card img{
    border: 1px solid #979797 !important ;
    border-radius: 50%;
    padding: 5px;
}

.global-service{
    background: #2F3E56;
}
.recruit_card .ico{
    background-color :#2F3E56 ;
    border-radius: 50%;
    padding: 5px;
    justify-content: center;
    display: flex;
}


@media (max-width:992px) {
  .start_journey-card h2{
    font-size: 36px;
}

    
}

@media (max-width:768px) {


.start_journey-card p{
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}
  .start_journey-card h2{
    font-size: 26px;
    text-align: center;
}
.recruirment-card h3{
     font-size: 14px;
  }
 .recruirment-card p{
     font-size: 10px;
     line-height: 18px;
      }
    
}

@media (max-width:575px) {
    .start_journey{
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
}