/* 
- [x] Create task.md
- [x] Implement Mobile Menu in `Header.tsx`
- [x] Add Mobile Menu styles to `header.css`
- [x] Make `EmployerModal` and `StudentModal` responsive in `modal.css`
- [x] Add media queries to `home.css` (Hero, Services, Programs, Founder, Contact)
*/


.home-quote-section {
  width: 100%;
  height: 100%;
  background-color: #F4F1EA;
}

.home-quote-section-content {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin-top: 4rem;
}

.home-quote-section p {
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}


.home-quote-section-content span {
  color: #000;
  font-weight: 700;
}


/* ─── QUOTE SECTION ──────────────────────────────────────── */
.process-quote-section {
  margin-top: 5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.process-quote-section h2 {
  color: #2F3E56;
  text-align: center;
  font-family: "Source Serif 4";
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.process-quote-section-content {
  display: flex;
  gap: 2rem;
}

.process-quote-section-content-1,
.process-quote-section-content-2 {
  background: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 20px;
  width: 636px;
  height: 210px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;

}


.process-quote-section-content-1 h2,
.process-quote-section-content-2 h2 {
  color: #2F3E56;
  text-align: center;
  font-family: "Source Serif 4";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.process-quote-section-content-1 p,
.process-quote-section-content-2 p {
  color: #666;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}


.home-services-section {
  margin-top: 80px;
  width: 100%;
  scroll-margin-top: 130px;
}

.home-services-section .services-container {
  width: 70%;
  margin: 0 auto;
}


